#BUS_SORT

#W
clk
reset_n
por_n

#S
gpio_bot_in\[0\]
gpio_bot_out\[0\]
gpio_bot_oeb\[0\]
gpio_bot_dm\[0\]
gpio_bot_dm\[1\]
gpio_bot_dm\[2\]
gpio_bot_in\[1\]
gpio_bot_out\[1\]
gpio_bot_oeb\[1\]
gpio_bot_dm\[3\]
gpio_bot_dm\[4\]
gpio_bot_dm\[5\]
gpio_bot_in\[2\]
gpio_bot_out\[2\]
gpio_bot_oeb\[2\]
gpio_bot_dm\[6\]
gpio_bot_dm\[7\]
gpio_bot_dm\[8\]
gpio_bot_in\[3\]
gpio_bot_out\[3\]
gpio_bot_oeb\[3\]
gpio_bot_dm\[9\]
gpio_bot_dm\[10\]
gpio_bot_dm\[11\]
gpio_bot_in\[4\]
gpio_bot_out\[4\]
gpio_bot_oeb\[4\]
gpio_bot_dm\[12\]
gpio_bot_dm\[13\]
gpio_bot_dm\[14\]
gpio_bot_in\[5\]
gpio_bot_out\[5\]
gpio_bot_oeb\[5\]
gpio_bot_dm\[15\]
gpio_bot_dm\[16\]
gpio_bot_dm\[17\]
gpio_bot_in\[6\]
gpio_bot_out\[6\]
gpio_bot_oeb\[6\]
gpio_bot_dm\[18\]
gpio_bot_dm\[19\]
gpio_bot_dm\[20\]
gpio_bot_in\[7\]
gpio_bot_out\[7\]
gpio_bot_oeb\[7\]
gpio_bot_dm\[21\]
gpio_bot_dm\[22\]
gpio_bot_dm\[23\]
gpio_bot_in\[8\]
gpio_bot_out\[8\]
gpio_bot_oeb\[8\]
gpio_bot_dm\[24\]
gpio_bot_dm\[25\]
gpio_bot_dm\[26\]
gpio_bot_in\[9\]
gpio_bot_out\[9\]
gpio_bot_oeb\[9\]
gpio_bot_dm\[27\]
gpio_bot_dm\[28\]
gpio_bot_dm\[29\]
gpio_bot_in\[10\]
gpio_bot_out\[10\]
gpio_bot_oeb\[10\]
gpio_bot_dm\[30\]
gpio_bot_dm\[31\]
gpio_bot_dm\[32\]
gpio_bot_in\[11\]
gpio_bot_out\[11\]
gpio_bot_oeb\[11\]
gpio_bot_dm\[33\]
gpio_bot_dm\[34\]
gpio_bot_dm\[35\]
gpio_bot_in\[12\]
gpio_bot_out\[12\]
gpio_bot_oeb\[12\]
gpio_bot_dm\[36\]
gpio_bot_dm\[37\]
gpio_bot_dm\[38\]
gpio_bot_in\[13\]
gpio_bot_out\[13\]
gpio_bot_oeb\[13\]
gpio_bot_dm\[39\]
gpio_bot_dm\[40\]
gpio_bot_dm\[41\]
gpio_bot_in\[14\]
gpio_bot_out\[14\]
gpio_bot_oeb\[14\]
gpio_bot_dm\[42\]
gpio_bot_dm\[43\]
gpio_bot_dm\[44\]

#E
gpio_rt_in\[0\]
gpio_rt_out\[0\]
gpio_rt_oeb\[0\]
gpio_rt_dm\[0\]
gpio_rt_dm\[1\]
gpio_rt_dm\[2\]
gpio_rt_in\[1\]
gpio_rt_out\[1\]
gpio_rt_oeb\[1\]
gpio_rt_dm\[3\]
gpio_rt_dm\[4\]
gpio_rt_dm\[5\]
gpio_rt_in\[2\]
gpio_rt_out\[2\]
gpio_rt_oeb\[2\]
gpio_rt_dm\[6\]
gpio_rt_dm\[7\]
gpio_rt_dm\[8\]
gpio_rt_in\[3\]
gpio_rt_out\[3\]
gpio_rt_oeb\[3\]
gpio_rt_dm\[9\]
gpio_rt_dm\[10\]
gpio_rt_dm\[11\]
gpio_rt_in\[4\]
gpio_rt_out\[4\]
gpio_rt_oeb\[4\]
gpio_rt_dm\[12\]
gpio_rt_dm\[13\]
gpio_rt_dm\[14\]
gpio_rt_in\[5\]
gpio_rt_out\[5\]
gpio_rt_oeb\[5\]
gpio_rt_dm\[15\]
gpio_rt_dm\[16\]
gpio_rt_dm\[17\]
gpio_rt_in\[6\]
gpio_rt_out\[6\]
gpio_rt_oeb\[6\]
gpio_rt_dm\[18\]
gpio_rt_dm\[19\]
gpio_rt_dm\[20\]
gpio_rt_in\[7\]
gpio_rt_out\[7\]
gpio_rt_oeb\[7\]
gpio_rt_dm\[21\]
gpio_rt_dm\[22\]
gpio_rt_dm\[23\]
gpio_rt_in\[8\]
gpio_rt_out\[8\]
gpio_rt_oeb\[8\]
gpio_rt_dm\[24\]
gpio_rt_dm\[25\]
gpio_rt_dm\[26\]

#N
gpio_top_in\[0\]
gpio_top_out\[0\]
gpio_top_oeb\[0\]
gpio_top_dm\[0\]
gpio_top_dm\[1\]
gpio_top_dm\[2\]
gpio_top_in\[1\]
gpio_top_out\[1\]
gpio_top_oeb\[1\]
gpio_top_dm\[3\]
gpio_top_dm\[4\]
gpio_top_dm\[5\]
gpio_top_in\[2\]
gpio_top_out\[2\]
gpio_top_oeb\[2\]
gpio_top_dm\[6\]
gpio_top_dm\[7\]
gpio_top_dm\[8\]
gpio_top_in\[3\]
gpio_top_out\[3\]
gpio_top_oeb\[3\]
gpio_top_dm\[9\]
gpio_top_dm\[10\]
gpio_top_dm\[11\]
gpio_top_in\[4\]
gpio_top_out\[4\]
gpio_top_oeb\[4\]
gpio_top_dm\[12\]
gpio_top_dm\[13\]
gpio_top_dm\[14\]
gpio_top_in\[5\]
gpio_top_out\[5\]
gpio_top_oeb\[5\]
gpio_top_dm\[15\]
gpio_top_dm\[16\]
gpio_top_dm\[17\]
gpio_top_in\[6\]
gpio_top_out\[6\]
gpio_top_oeb\[6\]
gpio_top_dm\[18\]
gpio_top_dm\[19\]
gpio_top_dm\[20\]
gpio_top_in\[7\]
gpio_top_out\[7\]
gpio_top_oeb\[7\]
gpio_top_dm\[21\]
gpio_top_dm\[22\]
gpio_top_dm\[23\]
gpio_top_in\[8\]
gpio_top_out\[8\]
gpio_top_oeb\[8\]
gpio_top_dm\[24\]
gpio_top_dm\[25\]
gpio_top_dm\[26\]
gpio_top_in\[9\]
gpio_top_out\[9\]
gpio_top_oeb\[9\]
gpio_top_dm\[27\]
gpio_top_dm\[28\]
gpio_top_dm\[29\]
gpio_top_in\[10\]
gpio_top_out\[10\]
gpio_top_oeb\[10\]
gpio_top_dm\[30\]
gpio_top_dm\[31\]
gpio_top_dm\[32\]
gpio_top_in\[11\]
gpio_top_out\[11\]
gpio_top_oeb\[11\]
gpio_top_dm\[33\]
gpio_top_dm\[34\]
gpio_top_dm\[35\]
gpio_top_in\[12\]
gpio_top_out\[12\]
gpio_top_oeb\[12\]
gpio_top_dm\[36\]
gpio_top_dm\[37\]
gpio_top_dm\[38\]
gpio_top_in\[13\]
gpio_top_out\[13\]
gpio_top_oeb\[13\]
gpio_top_dm\[39\]
gpio_top_dm\[40\]
gpio_top_dm\[41\]
